/* Ovo nam je fallback */
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), local('OpenSans'), local('OpenSans-Regular'), url('../fonts/OpenSans-Regular-webfont.eot'),
         url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Bold'), local('OpenSans Bold'), local('OpenSans-Bold'), url('../fonts/OpenSans-Bold-webfont.eot'), url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: 700;
    font-style: normal;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.65);
}

body {
    margin: 0;padding: 0;
    font-family: "Open Sans", "Calibri", "Seguoe UI", sans-serif;
    font-size: 1rem;
    color: #444;
}

/* Responsive containers */
.container {
    flex: 1;
    width: 960px;
    margin: 1rem auto;
}
@media(max-width: 768px) {
    .container {
        flex: 1;
        width: auto;
        margin: 1rem 2vw;
    }   
}
@media(min-width: 768px) {
    .container {
        flex: 1;
        width: 750px;
        margin: 1rem auto;
    }
}
@media(min-width: 992px) {
    .container {
        flex: 1;
        width: 970px;
        margin: 1rem auto;
    }
}
/*@media(min-width: 1200px) {
    .container {
        flex: 1;
        width: 1170px;
        margin: 1rem auto;
    }   
}*/

/* Some general header rules */
header {
    display: flex;
    background-color: #3F51B5;
    min-height: 5vh;
    /* justify-content: space-between; */
}
/* Container for the links at the top */
#links-container {
    /*flex: 1; jer nemamo nista vise u kontenjeru osim ovog pa ne triba!!! */
    width: 970px;
    margin: 1rem auto;
}
@media(max-width: 768px) {
    #links-container {
        width: auto;
        margin: 1rem 2vw;
        flex-direction: column; /* not work ???*/
    }   
}
@media(min-width: 768px) {
    #links-container {
        width: 750px;
        margin: 1rem auto;
    }
}
@media(min-width: 992px) {
    #links-container {
        width: 970px;
        margin: 1rem auto;
    }
}
/* Styles for our links at the top */
#links-container a {
    text-transform: uppercase;
    color: #FFF;
    font-weight: bold;
    margin-right: 2rem;
    opacity: .65;
}
#links-container a:hover {
    opacity: 1;
}
#links-container a.active {
    opacity: 1;
    border-bottom: 3px solid #929292;
}

@media(max-width: 560px) {
    header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

/* Malo tipografije... */
h1 {
    font-size: 42px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 16px;
}

/* Title i subtitle! */
#intro {
    display: flex;
}
#intro > h2 {
    text-transform: uppercase;
    align-self: center;
    margin-left: 1rem;
    opacity: .65;
}
@media(max-width: 560px) {
    #intro {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}

/* Log in / sign up */
#user {
    display: flex;
    justify-content: flex-end;
}
#user a {
    margin-left: 2rem;
    font-weight: 700;
}

/* Gornji natpis */
#panel {
    display: flex;
    flex: 1 1 20em;
    border: 3px solid transparent;
    border-radius: 3px;
    padding: .5rem;
    margin-top: 1rem;
    background-color: #ffc107;
    color: #222;
}

/* Carousel... */
#carousel {
    position: relative; /* We need this because of the arrows */
    display: flex;
    border: 3px solid #000;
    border-radius: 5px;
    margin-top: 3rem;
    justify-content: space-around;
    padding: 1rem;
}
#carousel > #desc {
    /* border: 1px solid #FF0000; */
    width: 25%;
}
@media(max-width: 992px) { /* Responsiveness for the carousel */
    #carousel {
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        border: 3px solid #000;
        border-radius: 5px;
        margin-top: 3rem;
        justify-content: space-around;
        padding: 1rem;
    }
    #carousel > #desc {
        width: 100%;
    }
}
#carousel > #img {
    /* border:  1px solid #00FF00; */
    width:  60%;
    align-self: center;
}
#carousel > #desc > h2 {
    text-align: left;
}
#carousel > #desc > p {
    text-align: justify;
    padding: .5rem .5rem 0 .5rem;
}
#carousel > #img img {
    /* Čisto da ne overflowa slika... */
    max-width: 100%;
    max-height: 100%;
}
#rating {
    display: flex;
    justify-content: center;
}
#rating > i.fa.fa-star-o {
    margin-left: .5rem;
    padding-top: .5rem;
    font-size: 1.3rem;
}
/* Carousel buttons */
button { /* Some general button definition to make them look somewhat decent */
    border-radius: 5px;
    background-color: #8bc34a;
    color: #FFF;
    font-weight: 700;
    padding: .5rem;
    border: 0;
    font-size: 1rem;
}
#buttons {
    display: flex;
    flex-direction: column;
}
#buttons button {
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
}
#buttons button:first-child {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
/* Carousel arrows! */
#arrow-left {
    position: absolute; /* Looks for the first relative parent! */
    top: 50%;
    left: -7%;
    transform: translateY(-50%); /* bottom: -50%; */
    font-size: 4rem;
}
#arrow-right {
    position: absolute; /* Looks for the first relative parent! */
    top: 50%;
    right: -7%;
    transform: translateY(-50%); /* bottom: -50%; */
    font-size: 4rem;
}
.arrow-nav {
    cursor: pointer;
}
.arrow-nav:hover {
    opacity: .65;
}
@media(max-width: 992px) { /* Responsiveness for the arrows... I tried. */
    #arrow-left {
        position: absolute;
        top: 6%;
        /* float: left; */
        left: 1%;
        font-size: 4rem;
    }
    #arrow-right {
        position: absolute;
        top: 6%;
        /* float: right; */
        right: 1%;
        font-size: 4rem;
    }
}